<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @crawler.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @crawler.desc %>
</p>

<p>
  <strong>Url:</strong>
  <%= @crawler.url %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @crawler.notes %>
</p>

<%= link_to 'Edit', edit_crawler_path(@crawler) %> |
<%= link_to 'Back', crawlers_path %>
